
# Windows
# torch 2.0.0 installed using the following command (CUDA 11.8): 
# > conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia

pytorch==2.0.0
pytorch-cuda==11.9
torchvision==0.15.0
matplotlib=3.7.1

# Mac
# MPS acceleration is available on MacOS 12.3+
# torch 2.0.0 installed using the following command (default; no CUDA):
# > conda install pytorch torchvision torchaudio -c pytorch